*.py[cod]
test.py

# Test configuration
vp_test.conf

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.DS_Store
*.iml

# vagrant
.vagrant

# pycharm
.idea

# default virtual environment
/env/

# pyenv
.python-version

# backup files end in ~
*~