dist: xenial
language: python

services:
  - docker

matrix:
  include:
    - python: 3.8
      env: TOXENV=py38
    - python: 3.7
      env: TOXENV=py37
    - python: 3.6
      env: TOXENV=py36
    - python: 3.5
      env: TOXENV=py35
    - python: 3.4
      env: TOXENV=py34
    - python: 2.7
      env: TOXENV=py27

before_install:
  - git clone https://github.com/jbfavre/docker-vertica.git
  - curl $VERTICA_CE_URL --create-dirs -o docker-vertica/packages/vertica-ce.latest.rpm
  - docker build -f docker-vertica/Dockerfile.centos.7_9.x --build-arg VERTICA_PACKAGE=vertica-ce.latest.rpm -t jbfavre/vertica docker-vertica
  - docker images
  - docker run -d -p 5433:5433 jbfavre/vertica
  - sleep 60
install:
  - pip install tox
script:
  - export VP_TEST_USER=dbadmin
  - tox
